:root {
    --theme-blue: #1B3265;
    --theme-yellow: #ffc107;
    --theme-b-1: #074480;
    --theme-b-2: #003163;
    --theme-g-1: #848583;
    --theme-g-2: #C0C2C2;
    --theme-g-3: #AFB1B1;
}

body {
    background-color: #FCFBF8 !important;
}

.bg-theme-blue {
    background-color: var(--theme-blue);
}

.input-group-text.btn.btn-outline-success:active,
.input-group-text.btn.btn-outline-success:hover {
    color: #fff !important;
    background-color: var(--theme-b-1) !important;
    border-color: var(--theme-b-1) !important;
}

.input-group-text.btn.btn-outline-success:focus,
#search:focus {
    box-shadow: none !important;
    border-color: var(--theme-g-2);
}

.input-search {
    border-radius: 0,25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.bi.bi-search[class*=" bi-"]::before {
    font-weight: bold !important;
}

@media (min-width: 300px) {
    .form-inline .custom-select, .form-inline .input-group {
        width: auto;
    }
}

.card-datatable {
    border-left: 8px solid var(--theme-b-2) !important;
    border-radius: 0px !important;
}

li.page-item.active .page-link {
    background-color: var(--theme-b-2) !important;
    border-color: var(--theme-b-2) !important;
    color: #fff !important;
}

a.page-link {
    color: var(--theme-b-2) !important;
}

a.page-link:hover {
    color: var(--theme-b-2);
    text-decoration: none !important;
}

.btn-theme-blue,
.btn-theme-blue:hover {
    color: #fff;
    background-color: var(--theme-blue);
    border-color: var(--theme-blue);
}

.btn-theme-g,
.btn-theme-g:hover {
    color: #fff;
    background-color: var(--theme-g-1);
    border-color: var(--theme-g-1);
}

.file {
    z-index: -1 !important;
    position: absolute;
}

.img-thumbnail-table {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 64px !important;
    max-height: 64px !important;
    height: auto;
}

.img-cover {
    width: calc(100%);
	object-fit: cover;
	padding-bottom: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.div-img-home {
    width: 80%;
    margin: 0 auto;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.navbar-btn {
    width: 36px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#cart {
    color: white;
    max-width: 50px;
    max-height: 50px;
    display: inline;
}

.notify-custom {
    min-width: 20px;
    min-height: 20px;
    color: var(--N0, #FFFFFF);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    background-color: var(--theme-yellow);
    border: 2px solid var(--N0, var(--theme-yellow));
    border-radius: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    transform: translate(30%, -8%);
}

/* The Modal (background) */
.modal-checkout {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 500%;
    /* Full width */
    height: 500%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content-checkout {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    max-width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close-checkout {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.input-left {
    padding-left: 3px;
    color: #1B3265;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: bold !important;
    line-height: 1.5;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.input-left > svg {
    margin-top: -3px !important;
}

.input-left:hover {
    cursor: pointer;
}

.input-right {
    padding-right: 3px;
    color: #1B3265;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold !important;
    line-height: 1.5;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.form-num {
    color: #1B3265;
    text-align: center;
    max-width: 30px !important;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-left: none !important;
    border-right: none !important;
}
.form-num:focus-visible {
    outline: none !important;
}

.input-right > svg {
    margin-top: -3px !important;
}

.input-right:hover {
    cursor: pointer;
}

.pill-num {
    zoom: 90%;
}

.bi.bi-trash {
    cursor: pointer;
    vertical-align: top;
}